<h1>Select a Flight!</h1>
<%= form_with url: flights_path, method: :get do |form| %>
<h2>Departing Airport</h2>
<%= select_tag :departure_airport_id, 
               options_for_select(@airports.map { |a| [a.name, a.id] }) %>
<h2>Arriving airport</h2>
<%= select_tag :arrival_airport_id, 
               options_for_select(@airports.map { |a| [a.name, a.id] }) %>
<h2>Number of passengers</h2>
<%= select_tag :num_passengers,
                options_for_select(1..4) %>
<h2>Flight date</h2>
    <%= select_tag :flight_date, 
               options_for_select(@flight_dates) %>
<hr>
  <%= submit_tag "Search" %>
<% end %>
<hr>
<% if @flights.any? %>
  <h2>Available Flights:</h2>
  <%= form_with url: new_booking_path, method: :get do |form| %>
    <% @flights.each do |flight| %>
      <div>
        <%= radio_button_tag :flight_id, flight.id %>
        <%= label_tag "flight_id_#{flight.id}" do %>
          <%= flight.departure_airport.code %> → <%= flight.arrival_airport.code %> | 
          <%= flight.start_time.strftime("%B %d, %Y at %I:%M %p") %> | 
          Duration: <%= flight.duration %> minutes
        <% end %>
      </div>
    <% end %>
    
    <%= hidden_field_tag :num_passengers, params[:num_passengers] %>
    <%= submit_tag "Book Flight" %>
  <% end %>
<% end %>
