<h1>Select a Flight!</h1>
<%= form_with url: flights_path, method: :get do |form| %>
<h2>Departing Airport</h2>
<%= select_tag :departure_airport_id, 
               options_for_select(@airports.map { |a| [a.name, a.id] }) %>
<h2>Arriving airport</h2>
<%= select_tag :arrival_airport_id, 
               options_for_select(@airports.map { |a| [a.name, a.id] }) %>
<h2>Number of passengers</h2>
<%= select_tag :num_passengers,
                options_for_select(1..4) %>
<h2>Flight date</h2>
    <%= select_tag :flight_date, 
               options_for_select(@flight_dates) %>
<hr>
  <%= submit_tag "Search" %>
<% end %>
